
.Content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: in 400ms ease forwards;
  height: 100%;

  .title {
    color: #FF3D00;
    font-size: 3rem;
    font-family: Helvetica, sans-serif;
    animation: in 700ms ease forwards;

    &>span {
      color: #939393;
    }
  }

  .subtitle {
    color: #606060;
    font-size: 2rem;
    font-family: Helvetica, sans-serif;
    margin-bottom: 50px;
    animation: in 900ms ease forwards;
  }

  .name {
    color: white;
    font-family: Helvetica, sans-serif;
    padding-bottom: 20px;
    font-size: clamp(0.1rem, 4vw, 30px);
    max-width: 1000px;
    animation: in 1100ms ease forwards;
  }

  &>.input {
    box-sizing: border-box;
    width: 90%;
    max-width: 1000px;
    font-size: 1.8rem;
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    transition: ease 100ms;
    background-color: #202020;
    outline: solid 0px #ff2e23;
    color: white;
    margin-bottom: 10px;
    animation: in 1300ms ease forwards;

    &:focus-visible {
      outline: solid 2px #ff2e23;
    }
  }

  .grades {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    width: 90%;
    max-width: 1000px;
    animation: in 1400ms ease forwards;

    &>.grade {
      box-sizing: border-box;
      width: 100%;
      font-size: 1.3rem;
      padding: 10px 15px;
      border: none;
      border-radius: 6px;
      transition: ease 100ms;
      background-color: #202020;
      outline: solid 0px #ff2e23;
      color: white;

      &:focus-visible {
        outline: solid 2px #ff2e23;
      }
    }

    &>p {
      color: #414141;
      font-family: Helvetica, sans-serif;
      padding-left: 5px;
    }
  }

  .goal {
    display: grid;
    grid-template-rows: 1fr;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 50px;
    width: 90%;
    max-width: 1000px;
    animation: in 1500ms ease forwards;

    &>.grade {
      box-sizing: border-box;
      width: 100%;
      font-size: 1.3rem;
      padding: 10px 15px;
      border: none;
      border-radius: 6px;
      transition: ease 100ms;
      background-color: #323232;
      outline: solid 0px #ff2e23;
      color: white;

      &:focus-visible {
        outline: solid 2px #ff2e23;
      }
    }

    &>.inline {
      display: flex;
      justify-content: space-between;

      &>p {
        color: #414141;
        font-family: Helvetica, sans-serif;
        padding-left: 5px;
      }

      &>a {
        color: #8d8d8d;
        font-family: Helvetica, sans-serif;
        padding-left: 5px;
      }

    }
  }
}

.InvalidPeriod {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &>.Icon {
    color: white;
    font-size: 5rem;
    margin-bottom: 20px;
  }

  &>.Text {
    color: white;
    padding: 12px 24px;
    font-size: 1.2rem;
    border-radius: 10px;
    background-color: #202020;
  }
}