.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  position: relative;
  z-index: 2;
  box-sizing: border-box;
  width: 100%;
  height: 55px;
  padding: 0 10px;
  background-color: rgb(26, 26, 26);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);

  &>.BackLink {
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;

    &>.Icon {
      font-size: 2.3rem;
      color: rgb(162, 162, 162);
    }

    &>.Text {
      font-size: 1.4rem;
      font-weight: 600;
      color: rgb(162, 162, 162);
    }
  }

  &>.bubble {
    width: 100%;
  }

  &>.helpLink {
    display: flex;
    position: relative;
    z-index: 1;
    text-decoration: none;

    &>p {
      display: flex;
      align-items: center;
      margin-right: 6px;
      font-weight: 600;
      line-height: 1;
      color: #939393;

      &:visited {
        color: #939393;
      }
    }

    &>.help {
      flex-shrink: 0;
      cursor: pointer;
      font-size: 1.4rem;
      color: rgb(162, 162, 162);
    }
  }

  .Title {
    display: flex;
    justify-content: center;
    position: absolute;
    font-size: 2rem;
    font-family: Helvetica, sans-serif;
    color: #ff3d00;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 700;
    text-decoration: none;

    &>span {
      color: #939393;
    }
  }
}