.setGoalHint {
  animation: in 1600ms ease forwards;
  color: #7d7d7d;
  margin-bottom: 12px;
  display: flex;
  flex-direction: row;
  & > * {
    margin: 0 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
  }
}

.cotism {
  gap: 10px;
  width: 100%;
  margin-bottom: 10px;
  max-width: 900px;
  animation: in 1600ms ease forwards;

  & > * {
    transition: 300ms ease;
    width: 50%;
    line-height: 20px;
    cursor: pointer;
    padding: 10px 0px;
    border-radius: 6px;
    background-color: #232323;
    text-align: center;
    color: white;
    font-size: clamp(2pt, 3.4vw, 11pt);
  }
}

.PossibleCourses {
  background-color: #232323;
  border-radius: 6px;
  width: 100%;
  max-width: 900px;
  padding: 0px 14px 22px 24px;
  box-sizing: border-box;
  animation: in 1700ms ease forwards;

  & > .campus {
    padding-top: 10px;
    & > .name {
      color: white;
      padding: 6px 0px;
    }
    .course {
      color: rgb(191, 191, 191);
      margin-bottom: 8px;
      .icon {
        color: rgb(68, 68, 68);
        margin-right: 6px;
        flex-shrink: 0;
        transition: 300ms ease;
      }
      .name {
        width: 100%;
        box-sizing: border-box;
        & > * {
          margin-top: 2px;
          color: #7d7d7d;
          & > span {
            margin-left: 10px;
            color: #5a5a5a;
            font-size: 0.9rem;
          }
        }
      }
      .vacancies {
        position: relative;
        & > svg {
          border-radius: 6px;
          padding: 2px;
          box-sizing: border-box;
          font-size: 1.8rem;
          margin-right: 10px;
          color: #7d7d7d;
          cursor: pointer;
        }
        &:hover > .popup{
          height: 54px;
          &>.section:nth-child(1) { top: 0;}
          &>.section:nth-child(2) { top: 0;}
          &>.section:nth-child(3) { top: 0;}
        }
        &>.popup {
          opacity: 0.95;
          position: absolute;
          display: flex;
          flex-direction: row;
          background-color: #1a1a1a;
          z-index: 1;
          bottom: 110%;
          right: 10px;
          border-radius: 5px;
          width: 150px;
          height: 0px;
          transition: cubic-bezier(0.075, 0.82, 0.165, 1) 200ms;
          overflow: hidden;
          &>.section:nth-child(1) {transition:cubic-bezier(0.97, 0.33, 0.35, 1.3) 100ms; top: 120%;}
          &>.section:nth-child(2) {transition:cubic-bezier(0.97, 0.33, 0.35, 1.3) 200ms; top: 120%;}
          &>.section:nth-child(3) {transition:cubic-bezier(0.97, 0.33, 0.35, 1.3) 300ms; top: 120%;}
          &>.section {
            width: 33.33%;
            display: flex;
            position: relative;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 3px;
            &>.count1 {
              background-color: rgb(213, 49, 49);
              border-radius: 6px;
              padding: 4px;
              width: 27px;
              font-weight: 700;
              color: #1a1a1a;
              text-align: center;
            }
            &>.count2 {
              background-color: rgb(63, 172, 209);
              color: #1a1a1a;
              border-radius: 6px;
              padding: 4px;
              width: 27px;
              font-weight: 700;
              text-align: center;
            }
            &>.count3 {
              color: #1a1a1a;
              background-color: rgb(66, 213, 83);
              border-radius: 6px;
              padding: 4px;
              width: 27px;
              font-weight: 700;
              text-align: center;
            }
            &>.name {
              text-align: center;
              font-size: 0.7rem;
            }
          }
        }
      }
      .setGoal {
        background-color: #1a1a1a;
        border-radius: 6px;
        box-sizing: border-box;
        font-size: 1.8rem;
        padding: 5px;
        cursor: pointer;
      }
    }
  }
}
