.cotism {
  gap: 10px;
  width: 100%;
  margin-bottom: 10px;
  max-width: 900px;
  animation: in 1600ms ease forwards;
  
  &>* {
    transition: 300ms ease;
    width: 50%;
    line-height: 20px;
    cursor: pointer;
    padding: 10px 0px;
    border-radius: 6px;
    background-color: #232323;
    text-align: center;
    color: white;
    font-size: clamp(2pt, 3.4vw, 11pt);
  }
}

.PossibleCourses {
  background-color: #232323;
  border-radius: 6px;
  width: 100%;
  max-width: 900px;
  padding: 0px 24px 22px;
  box-sizing: border-box;
  animation: in 1700ms ease forwards;

  &>.campus {
    padding-top: 10px;
    &>.name {
      color: white;
      padding: 6px 0px;
    }
    .course {
      color: rgb(191, 191, 191);
      margin-bottom: 6px;
      .icon {
        color: rgb(68, 68, 68);
        margin-right: 6px;
        flex-shrink: 0;
        transition: 300ms ease;
      }
      .name {
        & > * {
          margin-top: 2px;
          color: #7d7d7d;
          & > span {
            margin-left: 10px;
            color: #5a5a5a;
            font-size: 0.9rem;
          }
        }
      }
    }
  }

}
